@using Microsoft.AspNetCore.Identity
@using EDzienik.Entities

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var displayName = user != null ? $"{user.FirstName} {user.LastName}" : User.Identity?.Name;
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Zarządzaj">
                <i class="fas fa-user-circle"></i> Witaj, <strong>@displayName</strong>!
            </a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/Identity/Account/Login">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">
                    <i class="fas fa-sign-out-alt"></i> Wyloguj
                </button>
            </form>
        </li>
    }
    else
    {
    }
</ul>